on:
    workflow_call:
        secrets:
            OPTIONAL_TOKEN:
                description: 'Optional token'
                required: false

jobs:
    do-something:
        runs-on: ubuntu-latest
        steps:
          - name: Deploy Apps Script
            if: ${{ secrets.OPTIONAL_TOKEN != '' }}
            run: |
                echo "GAS_DEPLOYMENT_ID secret found. Running clasp deploy..."
                clasp deploy --deploymentId ${{ secrets.OPTIONAL_TOKEN }} --description "CI deploy from GitHub Actions"

